@import "../../assets/simple-grid.css";
html {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #05adad;
}

a:hover {
  color: teal;
}

#app {
  display: flex;
  align-items: end;
  gap: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

#twemojison {
  padding-top: 15px;
}

#buttonson {
  width: 250px;
}
